:root, [data-theme="light"] {
    --bg-color: rgb(243,243,243);
    --menu-color: rgb(255,110,110);
    --text-color: rgb(55,45,45);
    --start-bg-color: rgb(235,145,145);
    --start-shadow-color: rgb(193,103,103);
    --start-bg-color-reset: rgb(255,135,135);
    --start-shadow-color-reset: rgb(173,83,83);
    --textInput-bg-color: rgb(218,218,218);
    --textInputArea-bg-color: rgb(255,251,255);
    --textInputArea-text-color: rgb(0,0,0);
    --numworksImg: url("../images/numworksLight.png");
    --submitButton-bg-color: rgb(195,195,195);
    --submitButton-text-color: rgb(55,45,45);
    --submitButton-bg-color-validate: rgb(120,220,120);
    --submitButton-text-color-validate: rgb(45,75,45);
    --submitInfos-bg-color: rgb(218,218,218);
    --textBox-bg-color: rgb(190,190,190);
    --A: url("../images/A2.jpg");
    --B: url("../images/B2.jpg");
    --C: url("../images/C2.jpg");
}

[data-theme="dark"] {
    --bg-color: rgb(12,12,12);
    --menu-color: rgb(110,20,20);
    --text-color: rgb(200,210,210);
    --start-bg-color: rgb(235,145,145);
    --start-shadow-color: rgb(193,103,103);
    --start-bg-color-reset: rgb(255,135,135);
    --start-shadow-color-reset: rgb(173,83,83);
    --textInput-bg-color: rgb(37,37,37);
    --textInputArea-bg-color: rgb(0,4,0);
    --textInputArea-text-color: rgb(255,255,255);
    --numworksImg: url("../images/numworksDark.png");
    --submitButton-bg-color: rgb(60,60,60);
    --submitButton-text-color: rgb(200,210,210);
    --submitButton-bg-color-validate: rgb(20,110,20);
    --submitButton-text-color-validate: rgb(170,210,180);
    --submitInfos-bg-color: rgb(37,37,37);
    --textBox-bg-color: rgb(60,60,60);
    --A: url("../images/A1.jpg");
    --B: url("../images/B1.jpg");
    --C: url("../images/C1.jpg");
}

@font-face {
    font-family: 'Menlo';
    src: url('https://don-t-work.github.io/dontwork/assets/fonts/MenloRegular.ttf');
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Arial;
}
body {
  background-color: var(--bg-color);
  text-align: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: Arial;
}

#mainContainer {
  display: inline-block;
  width: 65%;
  height: 99%;
  min-width: 1010px;
  min-height: 900px;
  box-sizing: border-box;
}

#menuTop {
  position: relative;
  background-color: var(--bg-color);
  width: 100%;
  height: 31px;
  margin-top: -1px;
  z-index: 1;
}
#menu {
  background-color: var(--menu-color);
  border-radius: 13px;
  height: 60px;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 13px;
  box-sizing: border-box;
  z-index: 1;
}
#title {
  position: absolute;
  display: flex;
  width: 10em;
  height: 100%;
  top: 0;
  margin-left: 1.5%;
  color: black;
  align-items: center;
  text-decoration: line-through;
  font-family: "Menlo";
}
#start {
  position: absolute;
  color:black;
  background-color: var(--start-bg-color);
  border-radius: 10px;
  width: 6.75em;
  height: calc(100% - 26px);
  top: 12px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 0px var(--start-shadow-color);
  transition: box-shadow 0.15s ease-out, top 0.15s ease-out;
}
#start:active {
  box-shadow: 0px 0px 0px var(--start-shadow-color);
  top: 16px;
}

#subContainer {
  outline: solid 0px green;
  width: 100%;
  height: 80%;
  position: relative;
  min-height: 500px;
  text-align: left;
}

#textUIContainer {
  box-sizing: border-box;
  width: 100%;
  height: 66.8ch;
  margin-top: -592px;
  margin-bottom: 15px;
  transform: translateY(-110px);
  z-index: 0;
}
.textUIContainerSlide_ {
  animation: textUIContainerSlide 0.6s forwards ease-in 0s;
}
@keyframes textUIContainerSlide {
  0%   {transform: translateY(-110px)}
  18%  {margin-top: -66.8ch;transform: translateY(0px)}
  100% {margin-top: 17px;transform: translateY(0px)}
}

#textInput {
  position: relative;
  display: inline-block;
  background-color: var(--textInput-bg-color);
  font-family: Arial;
  font-size: 16px;
  height: 66.8ch;
  /*width: calc(50% - 8.5px);*/
  width: 66.8ch;
  border-radius: 13px;
  background-image: var(--numworksImg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  text-align: center;
}

#textInputArea {
  position: absolute;
  display: inline-block;
  resize: none;
  overflow: hidden;
  border: none;
  width: 43.4ch;
  height: 30.7%;
  bottom: 43.2%;
  transform: translateX(-50%);
  background-color: var(--textInputArea-bg-color);
  color: var(--textInputArea-text-color);
  font-family: Arial;
  font-size: 13.1px;
  box-sizing: border-box;
  transition: background-color .2s ease-in-out;
}
#textInputArea:focus {
  outline: none !important;
}

#submitButton {
  position: absolute;
  display: none;
  background-color: var(--submitButton-bg-color);
  width: calc(100% - 66.8ch - 17px);
  height: calc(50% - 8.5px);
  border-radius: 13px;
  margin-left: 17px;
  transform: translateX(1000px);
  text-align: center;
  color: var(--submitButton-text-color);
  box-sizing: border-box;
  transition: opacity 0.25s;
}
.submitButtonSlide_ {
  animation: submitButtonSlide 0.35s forwards 0.7s;
}
@keyframes submitButtonSlide {
  from {transform: translateX(1000px)}
  to {transform: translateX(0px)}
}
#submitButton:hover {
  opacity: 0.9;
}
#submitButtonText {
  text-align: center;
  position: relative;
  top: calc(50% - 8px);
  transform: translateY(-50%);
}

#submitInfos {
  position: absolute;
  display: none;
  background-color: var(--submitInfos-bg-color);
  width: calc(100% - 66.8ch - 17px);
  height: calc(50% - 8.5px);
  border-radius: 13px;
  margin-left: 17px;
  bottom: 0;
  transform: translateX(1000px);
}
.submitInfosSlide_ {
  animation: submitInfosSlide 0.35s forwards 0.6s;
}
@keyframes submitInfosSlide {
  from {transform: translateX(1000px)}
  to {transform: translateX(0px)}
}

#fileName {
  width: 100%;
  height: auto;
}
#fileNamePinv {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  font-weight: bold;
}
#fileNameTextArea {
  display: inline-block;
  background-color: var(--textInputArea-bg-color);
  color: rgb(255,100,100);
  resize: none;
  border: none;
  transform: translateY(22%);
  width: 24ch;
  height: 2.3ch;
  margin: 0px;
  padding-bottom: 0px;
  transition: background-color .2s ease-in-out;
}
#fileNameTextArea:focus {
  outline: none !important;
}

#fileNamePext {
  display: inline-block;
  color: rgb(255,100,100);
  margin:0;
}

#fileNameInstructions {
  margin-bottom: 15px;
  font-size: 90%;
  opacity: 0;
  color: rgb(255,100,100);
  animation-name: fileNameInstructionsSlide;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-play-state: paused;
}
@keyframes fileNameInstructionsSlide {
  from {opacity: 0; margin-bottom:15px}
  to {opacity: 0.7; margin-bottom:30px}
}

#infos {
  position: relative;
  color: var(--text-color);
  width: 90%;
  height: 90%;
  margin: 5% 5%;
}

#textBox {
  background-color: var(--textBox-bg-color);
  border-radius: 13px;
  text-align: left;
  width: 100%;
  height: 65%;
  padding: 1.8em;
  box-sizing: border-box;
  color: var(--text-color);
}
#textBox h3 {
  color: white;
  margin-top: 0;
}
.textBoxSlide_ {
  animation: textBoxSlide 0.6s forwards ease-in 0s;
}

@keyframes textBoxSlide {
  from {opacity: 1}
  to {opacity: 0}
}
