html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("../images/B2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
